@page "/about"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Sobre o Projeto</PageTitle>
<div class="page-container">
    <img src="/img/popcorn.png" class="popcorn" alt="CinUMa Logo">
    <div>
        <h1>Sobre a Bilheteira Online</h1>
        <p>
            Esta edição da unidade curricular de Engenharia de Software conta com o apoio da empresa Sky (Madeira),
            e o tema do projeto reflete essa colaboração.
        </p>
        <h2>Descrição do Projeto</h2>
        <p>
            O objetivo do projeto é desenvolver uma plataforma de bilheteira online dedicada a filmes e cinema.
            O sistema permitirá aos usuários explorar e adquirir filmes de diferentes formas:
        </p>
        <ul>
            <li>Aluguel para visualização digital;</li>
            <li>Compra de edições físicas em DVD ou Blu-ray;</li>
            <li>Aquisição de bilhetes para sessões de cinema.</li>
        </ul>
        <p>
            Os usuários poderão adicionar diferentes tipos de compras a um único carrinho, respeitando as
            particularidades de cada opção. Além disso, será possível emular diferentes métodos de pagamento,
            proporcionando uma experiência mais completa e flexível.
        </p>
        <h2>Funcionalidades</h2>
        <ul>
            <li>Integração com Web Services públicos para informações sobre filmes e elenco;</li>
            <li>Escolha de salas de cinema para uma experiência personalizada;</li>
            <li>Histórico de compras para melhor controle e organização.</li>
        </ul>
        <h2>Objetivo Acadêmico</h2>
        <p>
            Do ponto de vista acadêmico, o foco está em desenvolver um sistema com arquitetura extensível e adaptável,
            permitindo modificações futuras sem comprometer a estrutura existente. A usabilidade e inovação serão
            critérios importantes para a avaliação.
        </p>
        <p>
            As melhores soluções serão selecionadas para uma competição, e o melhor grupo será premiado pela Sky (Madeira).
        </p>
    </div>
</div>