
body {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    position: relative; /* Adicione isso para criar um contexto de empilhamento */
    min-height: 100vh;
}

.popcorn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Mude para -1 para ficar ATRÁS de tudo */
}

div {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; /* Isso garante que o conteúdo fique na frente */
    z-index: 1; /* Qualquer valor maior que 0 colocará na frente do background */
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #0a192f; /* tom azul escuro */
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.8em;
    color: #ff6600; /* laranja vibrante */
    border-bottom: 2px solid #0a192f; /* azul escuro */
    padding-bottom: 5px;
    margin-top: 30px;
}

p, li {
    font-size: 1.2em;
    color: #444444;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    content: '★';
    color: #ffcc00; /* amarelo para estrelas */
    margin-right: 10px;
}

@media (max-width: 1024px) {
    div {
        max-width: 85%;
        margin: 30px auto;
        padding: 25px;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.6em;
    }
    p, li {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    div {
        max-width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p, li {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    div {
        max-width: 95%;
        padding: 15px;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.3em;
    }
    p, li {
        font-size: 0.9em;
    }
}
