@page "/register"

<PageTitle>Registro</PageTitle>

<div class="register-container">
    <h1>Registo</h1>
    <form method="post">
        <div class="input-group">
            <label for="username">Nome de Usuário</label>
            <input type="text" id="username" required>
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>
        <div class="input-group">
            <label for="confirm-password">Confirmar Senha</label>
            <input type="password" id="confirm-password" required>
            <span class="error-message" id="password-error"></span>
        </div>
        <button type="submit" class="btn">Registrar</button>
    </form>
    <p class="login-link">Já tem uma conta? <a href="/login">Faça login</a></p>
</div>