@page "/register"
@using BlazorApp1.Services.RegLogin
@inject Sign AuthService
@inject NavigationManager Navigator

<EditForm Model="@model" OnInvalidSubmit="@Invalid" OnValidSubmit="@HandleRegistration" FormName="registerForm">
    <DataAnnotationsValidator />
    
    <div class="form-group">
        <label>Username</label>
        <InputText @bind-Value="model.Username" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Password</label>
        <InputText type="password" @bind-Value="model.Password" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private Registration model = new();
    private string errorMessage;

    private async Task HandleRegistration()
    {
        if (await AuthService.CheckUsernameExists(model.Username))
        {
            errorMessage = "Username already taken!";
            return;
        }

        await AuthService.CreateUser(model.Username, model.Password, model.Id, model.Email);
        Navigator.NavigateTo("/login");
    }

    private async Task Invalid()
    {
        /*Console.WriteLine("FALHOU");
         Sign db = new Sign();
        db.CreateUser("Joao", "teste", 1, "teste@gmail.com");
        var user = await db.FindUser("ooo");
        if (user != null)
        {
            Console.WriteLine($"Usuário encontrado: {user.Username}");
        }*/
    }

}