@page "/"
@rendermode InteractiveServer

<h3>Página Home</h3>

<div class="container">
    <div class="control-container">
        <Users UserCount="@userCounter.Counter" />
        <Actions StartPressed="@StartIncrementing" />
    </div>
    <div class="server-container">
    @for (int i = 0; i < ServerCount; i++)
        {
            <Server />
        }
    </div>
</div>

@code {
    private UserCounter userCounter = new UserCounter();

    private int ServerCount = 0; // Contagem de servidores

    public async Task StartIncrementing()
    {
        await userCounter.StartIncrementing(200000, 2000, 50);
    }

    protected override void OnInitialized()
    {
        userCounter.OnCounterChanged += StateHasChanged;
    }

    private void AddServer()
    {
        ServerCount++;
        StateHasChanged();
    }
}