<div class="div-container">
<img src="images/Users.png" alt="Users" width="50" height="50">
    <!-- <img src="/wwwroot/Images/Users.png" alt="Users" /> -->
    <span>Users: @UserCount</span>
</div>

@code{
    [Parameter]
    public int UserCount { get; set; }
}

