@* recebe (StartPressed e AddServer) 
    define OnStartPressed e OnAddServe QUE INVOCAM OS CALLBACKS *@
    
@page "/Actions"
@inject IJSRuntime JSRuntime 

@namespace InfraSim.Components.Layout

<div class="div-container">
    <button class="round-button green-button" @onclick="OnStartPressed">Start</button>
    <button class="round-button blue-button" @onclick="OnAddCdnPressed">Add CDN</button>
    <button class="round-button orange-button" @onclick="OnAddCachePressed">Add Cache</button>
    <button class="round-button grey-button" @onclick="OnAddServerPressed">Add Server</button>
</div>

@code {
    [Parameter]
    public EventCallback StartPressed { get; set; }
    [Parameter]
    public EventCallback AddCdnPressed { get; set; }
    [Parameter]
    public EventCallback AddCachePressed { get; set; }
    [Parameter]
    public EventCallback AddServerPressed { get; set; }

    private async Task OnStartPressed()
    {
        Console.WriteLine("Start button pressed");
        await StartPressed.InvokeAsync();
    }

    private async Task OnAddCdnPressed()
    {
        Console.WriteLine("Add CDN button pressed");
        await AddCdnPressed.InvokeAsync();
    }

    private async Task OnAddCachePressed()
    {
        Console.WriteLine("Add Cache button pressed");
        await AddCachePressed.InvokeAsync();
    }

    private async Task OnAddServerPressed()
    {
        Console.WriteLine("Add Server button pressed");
        await AddServerPressed.InvokeAsync();
    }
}