@* recebe RequestsCount *@

<div class="div-container">
    <img src="images/Servers.png" alt="Server" width="50" height="50">
    <span>@ServerType Server</span>
    <p>Solicitações: @RequestsCount</p>
</div>

<div class="div-container">

    
</div>

@code {
    [Parameter] public ServerType ServerType { get; set; }
    @* [Parameter]
    public int UserCount { get; set; }
    [Parameter]
    public int ServerCount { get; set; } *@
    [Parameter]
    public int RequestsCount { get; set; }
}