@* mostra nº de users
    recebe UserCount como parâmetro *@

<div class="div-container">
<img src="images/Users.png" alt="Users" width="50" height="50">
    <span>Users: @UserCount</span>
</div>

@code{
    [Parameter]
    public int UserCount { get; set; }
}